<div class="container-main-content">
    <h2>Bem-vindo</h2>

    <div class="container-content-items">
        {{#each books}}
        <div class="container-content-items-book">
            <h3>{{this.title}}</h3>
            <ul>
                <li>{{this.author}}</li>
                <li>{{this.category}}</li>
                <li>{{this.description}}</li>
            </ul>

            <a href="/books/edit/{{this.id}}">Edit</a>

            <form action="/books/remove" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit">Remove</button>
            </form>
        </div>
        {{/each}}
    </div>
</div>